#Back
/back/node_modules
/back/.env
/back/package-lock.json


#Front

/front/dist/
/front/tmp/
/front/out-tsc/
/front/bazel-out/

# Node
/front/node_modules
/front/package-lock.json
/front/npm-debug.log
/front/yarn-error.log

# IDEs and editors
/front/.idea/
/front/.project
/front/.classpath
/front/.c9/
/front/*.launch
/front/.settings/
/front/*.sublime-workspace

/front/.vscode

