<div class="crud-table">
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Direccion</th>
        <th>telefono</th>
        <th>Directores favoritos</th>
        <th>Actores favoritos</th>
        <th>Generos favoritos</th>
        <th>Accion</th> <!-- Nueva columna para el botón -->
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Nombre1</td>
        <td>Direccion1</td>
        <td>telefono1</td>
        <td>directoresfav1</td>
        <td>actoresfav1,aaa,aaa</td>
        <td>generosfav1</td>
        <td><button class="btn">Reporte</button></td> <!-- Botón en la nueva columna -->
      </tr>
      <tr>
        <td>Nombre2</td>
        <td>Direccion2</td>
        <td>telefono2</td>
        <td>directoresfav2</td>
        <td>actoresfav2,aaa,aa</td>
        <td>generosfav2</td>
        <td><button class="btn">Reporte</button></td> <!-- Botón en la nueva columna -->
      </tr>
      <tr>
        <td>Nombre3</td>
        <td>Direccion3</td>
        <td>telefono3</td>
        <td>directoresfav3</td>
        <td>actoresfav3,aaa,aaa</td>
        <td>generosfav3</td>
        <td><button class="btn">Reporte</button></td> <!-- Botón en la nueva columna -->
      </tr>
    </tbody>
  </table>
</div>
