<!DOCTYPE html>
<html>
<head>
  <title>Listado de Socios</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.0/jspdf.umd.min.js"></script>
</head>
<body>
  <div class="container">
    <!-- Encabezado -->
    <h2 style="text-align: center;">Socios</h2>

    <!-- Tabla para mostrar los socios -->
    <table id="socios-table" class="table crud-table">
      <thead>
        <!-- Encabezados de las columnas -->
        <tr>
          <th>Nombre</th>
          <th>Dirección</th>
          <th>Teléfono</th>
          <th>Directores favoritos</th>
          <th>Actores favoritos</th>
          <th>Géneros favoritos</th>
        </tr>
      </thead>
      <tbody>
        <!-- Ciclo para mostrar los datos de cada socio -->
        <tr *ngFor="let socio of socios">
          <td>{{ socio.nombre }}</td>
          <td>{{ socio.direccion }}</td>
          <td>{{ socio.telefono }}</td>
          <td>{{ socio.directoresFavoritos }}</td>
          <td>{{ socio.actoresFavoritos }}</td>
          <td>{{ socio.generosFavoritos }}</td>
        </tr>
      </tbody>
    </table>

    <!-- Botón para generar el informe -->
    <div style="text-align: center;">
      <button (click)="generarReporte()" class="button-estilo">Reporte</button>
    </div>
  </div>
</body>
</html>
