<div class="crud-table">
    <table class="table">
      <thead>
        <tr>
          <th>Nombre de la Película</th>
          <th>Nombre del socio</th>
          <th>Nombre de la cinta</th>
          <th>Actores</th>
          <th>Género</th>
          <th>Director</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Pelicula 1</td>
          <td>Socio 1</td>
          <td>Cinta 1</td>
          <td>Actor 1</td>
          <td>Género 1</td>
          <td>Director 1</td>
        </tr>
        <tr>
          <td>Pelicula 2</td>
          <td>Socio 2</td>
          <td>Cinta 2</td>
          <td>Actor 2</td>
          <td>Género 2</td>
          <td>Director 2</td>
        </tr>
        <tr>
          <td>Pelicula 3</td>
          <td>Socio 3</td>
          <td>Cinta 3</td>
          <td>Actor 3</td>
          <td>Género 3</td>
          <td>Director 3</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  