.crud-table {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 80px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f8f8f8; /* Color de fondo para toda la tabla */
}

.table th,
.table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  background-color: #f8f8f8; /* Color de fondo para cada celda */
}

.table th {
  background-color: #f2f2f2;
  font-weight: bold;
}
